@model IEnumerable<UMLElement>

@{
    ViewData["Title"] = "Алфавитный указатель";
}



<form asp-controller="Home" asp-action="DescriptionSearch" method="get">
    <p style="text-align: center">
        Поиск по описанию: <input type="text" name="SearchStringDesc" value="@ViewData["SearchStringDesc"]" />
        <input type="submit" value="Искать" />
    </p>
</form>
<div style="display: flex; justify-content: center;">
    <a asp-controller="AdvancedSearch" asp-action="Index" style="display: flex; justify-content: center; width: 408px;"><input type="button" style="width: 408px;" value="Расширенный поиск" /></a>
</div>

<h1 class="display-4">Алфавитный указатель</h1>


@{
    char l = '\0'; int i = -1;
    foreach (var item in Model)
    {
        if (l != item.Title[0])
        {
            l = item.Title[0];
            i++;
            <a href="#@i">@l</a>
        }
    }

    l = '\0'; i = -1;
    foreach (var item in Model)
    {
        if (l != item.Title[0])
        {
            l = item.Title[0];
            i++;
            <p id="@i"><b>@l</b></p>
        }
        <li><a asp-controller="UMLElement" asp-action="Index" asp-route-id="@item.Id">@item.Title</a></li>
    }
    if (l == '\0')
    {
        <p>Элементы не найдены.</p>
    }
}